/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* I love you Eric Meyer. May Rebecca rest in peace. */


/* Typography */
html,
body {
    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 32px;
}


a {
    text-decoration: none;
}



header h1 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

nav a {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #666666;
}

nav a:hover {
    text-decoration: underline;
    color: #000000;
}

#elevator h1 {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    line-height: 56px;
}

#case-studies h1, #experience h1 {
    font-size: 24px;
    color: #666;
    line-height: 42px;
    font-weight: 500;
}

#case-studies-list li h1 {

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #000000;


}

#experience ul li h2{
    font-size: 18px;
    font-weight: 600
}

#experience ul li h1{
    font-size: 16px;
    font-weight: 400;
    color: #666;
    line-height: 40px;
}

#experience ul li p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#contact p {

    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    max-width: 504px;

}

#contact p span.bold {
    font-weight: 500;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #000000;


}

/* Layout */
body {
    padding-top: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#wrapper {
    max-width: 768px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

nav {
    font-size: 0;
    text-align: right;
}

nav a {
    margin-left: 32px;
}

img {}

#elevator {
    margin-top: 116px;
    margin-bottom: 56px;
}

#elevator h1 {
    margin-bottom: 32px;
}

#elevator p {
    max-width: 640px;
}

#case-studies h1 {
    margin-bottom: 56px;
}

#case-studies-list h1 {
    margin-bottom: 0px;
}

#case-studies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#case-studies-list li {
    margin-bottom: 64px;
}

#case-studies-list li p {
    max-width: 232px;
}

#case-studies-list li img {
    margin-bottom: 24px;
    width: 44%;
    height: 44%;
    -webkit-filter: drop-shadow(0px 16px 24px #ccc);
    filter: drop-shadow(0px 16px 24px #ccc);
    box-sizing: border-box;
}

#case-studies-list li a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

#experience{
    margin: 32px 0px 88px 0px;
}

#experience li{
    margin: 32px 0;
}

#experience h1{
    margin-bottom: 24px;
}

#experience li h1{
    margin-bottom: 0px;
}

#experience li h2{
    margin-bottom: 4px;
}

#contact {
    margin-top: 72px;
}

footer {
    margin-top: 104px;
}

@media screen and (max-width: 800px) {


    body {
        padding: 64px 24px;
    }

    /*
	p{
	font-size: 16px;
	line-height: 28px;
	}
*/


    header h1 {
        font-size: 18px;
    }

    nav a {
        font-size: 18px;
    }

    #elevator h1 {
        font-size: 32px;
        line-height: 48px;
    }

    #case-studies h1, #experience h1 {
        font-size: 20px;
        line-height: 28px;
    }

    #case-studies-list li h1 {

        font-size: 18px;
        line-height: 28px;
        font-weight: 600;


    }


    #contact p {

        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        color: #000000;
        max-width: 504px;

    }

    #contact p span.bold {
        font-weight: 500;
    }

    footer p {
        font-weight: 400;
        font-size: 14px;
        line-height: 40px;
        color: #000000;


    }


    /*Layout*/

    #elevator {
        margin-top: 80px;
        margin-bottom: 56px;
    }

    #elevator h1 {
        margin-bottom: 24px;
    }

    #case-studies{

    }

    #case-studies h1 {
        margin-bottom: 40px;
    }

    #case-studies-list {
        justify-content: space-evenly;
    }

    #case-studies-list {
        margin-bottom: 0px;
    }

    #case-studies-list li {

        text-align: center;
        max-width: 120px;
        margin-bottom: 0px;
    }

    #case-studies-list li img {
        width: 60%;
        margin-bottom: 8px;
    }

    #case-studies-list li p {
        display: none;
    }
    

    #contact{
    	margin-top: 48px;
    }

}


@media screen and (max-width: 340px) {




}